<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EasyIngresso.DAO.Properties.Settings.DB_Easy_IngressoConnectionString"
            connectionString="Data Source=PC_VVP;Initial Catalog=DB_Easy_Ingresso;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>